body {
    /* background-color: rgb(5, 5, 5); */
    background-size: contain;
}

body::-webkit-scrollbar-track
{
	border-radius: 20px;
	background-color: rgb(20, 20, 20);
    opacity: 0;
}

body::-webkit-scrollbar
{
	background-color: rgb(20, 20, 20);
    opacity: 0;
}

body::-webkit-scrollbar-thumb
{
    border: 1px solid ;
    border-radius: 100px;
    border-color: #494364;
    background-color: #494364;
    background-clip: content-box;
}

.scroll::-webkit-scrollbar-track
{
	border-radius: 50px;
	background-color: rgba(20, 20, 20, 0);
}

.scroll::-webkit-scrollbar
{   
    border-radius: 20px;
	background-color: rgba(20, 20, 20, 0);
}

.scroll::-webkit-scrollbar-thumb
{
    border: 5px solid transparent;
    border-radius: 100px;
    background-color: #494364;
    background-clip: content-box;
}
